.name-profile {
  margin: 4% 0 3% 0;
  text-align: center;
  color: var(--COLOR-TITLE);
}
.profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style: none;
  width: 90%;
  position: relative;

  .image-profile {
    img {
      margin: 0 0 0 11rem;
      width: 10rem;
      border-radius: 50%;
    }
  }
  .description-profile {
    font-size: 1rem !important;
    color: var(--WHITE);

    .flex {
      display: flex;
    }
  }
}
